<div class="wrapper row3">
    <main class="hoc container login"> 
      <div class="content"> 
        <div class="wrapper row2 bgded overlay" style="background-image:url('../images/demo/backgrounds/04.png');">
          <section class="hoc cta clear"> 
            <form method="post" action="#">
              <fieldset>
                <legend>Login</legend>
                <input class="btmspace-15" type="text" value="" placeholder="Email&hellip;">
                <input class="btmspace-15" type="password" value="" placeholder="Senha&hellip;">
                <button type="submit" value="login">Login</button>
              </fieldset>
            </form>
          </section>
        </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row2 bgded overlay" style="background-image:url('../images/demo/backgrounds/04.png');">
    <section class="hoc cta clear"> 
      <div class="sectiontitle">
        <h6 class="heading">NEWSLETTER</h6>
        <p>Para receber nosso newsletter, informe o e-mail aqui:</p>
      </div>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Email&hellip;">
          <button type="submit" value="submit">Enviar</button>
        </fieldset>
      </form>
    </section>
  </div>