<div class="wrapper row3">
  <main class="hoc container clear"> 
<div class="">
  <h6 class="heading">Posts do Forúm:</h6>
</div>

<div class="card" style="width: 35rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="heading">Posts do Forúm</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerlink="" class="card-link">Another link</a>
    </div>
  </div>

  </main>
</div>