
<div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      
      <div id="logo" class="fl_left">
        <h1><a routerLink ="">SPACE</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a routerLink ="" routerLinkActive ="active">Home</a></li>
          <li><a routerLink ="login" routerLinkActive ="active">Blog</a></li>
          <li><a routerLink ="forum" routerLinkActive ="active">Fórum</a></li>
          <li><a routerLink ="login" routerLinkActive ="active">Sobre</a></li>
          <li><a routerLink ="login" routerLinkActive ="active">Contato</a></li>
          <a routerLink ="login"  title="Login"><i class="fa fa-lg fa-sign-in"></i></a>
        </ul>
      </nav>
      
    </header>
  </div>